body {
  background:#324380;
  color:#fff;
  font-size:20px;
  font-weight:500;
}
h1, h2 {
  font-size: 58px;
  font-weight: 500;
  line-height: 1.07;
  margin-bottom:0.9em;
}
h4 {
  font-size:22px;
  font-weight:bold;
  margin-top:20px;
}
a { 
  transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
}
p {

}
span {

}
li {
  font-size:22px;
}
section {
  padding-top:2em;
  padding-bottom:2em;
}
.button {
  border: none;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  padding: 14px 45px;
  line-height: 1.2;
  text-transform:none;
}
.button:hover {
  color:#fff;
  text-decoration:none;
}
.button.button-primary {
  background:#1bc452;
}
.button.button-primary:hover {
  background:#f0ab05;
}
.button.button-secondary{
  background:#f0ab05; 
  color:#212e69;
}
.button.button-secondary:hover{
  background:#1bc452; 
  color:#fff;
}
.sub-heading{
  text-transform:uppercase;
  font-size:18px;
  font-weight:500;
  margin-bottom:30px;
}
a.line:hover {
  text-decoration:none;
}
a.line:before {
  display: inline-block;
  content: "";
  width: 0px;
  height: 10px;
  background: #f0ab05;
  transition: all 0.3s;
  position: absolute;
  margin-left: -5px;
  z-index: -1;
  margin-top: 15px;
}
a.line:hover:before {
  width: 200px;
}
/*head section*/
header {
  background:#1e2a60;
  padding: 28px 0px;
}
header a {
  color:#fff;
}
.menu-icon-open {
  float:right;
  cursor:pointer;
  padding: 0px;
}
.navbar-nav {
  margin-top:5em;
  padding-bottom:3em;
} 
.navbar-nav li {
  
}
.navbar-toggle .icon-bar {
  width: 30px;
  height: 4px;
  background: #fff;
  display: block;
  margin: 5px 0px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
}
.navbar-toggle span:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.navbar-toggle span:nth-child(4) {
  transform: rotate(-45deg);
  transform-origin: 5% 80%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
  transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}
.navbar-nav li a {
  font-size:58px;
  z-index: 1;
  position: relative;
}
.navbar-nav li a:hover {
  color:#fff;
  text-decoration:none;
}
.navbar-nav li a.line:before {  
  margin-top: 55px;
  height: 18px;  
}
.navbar-nav li a.line:hover:before {   
  width:calc(100% + 20px);
}


/*homepage*/
.hero {
  padding-top:180px;
}

.home .hero {
  text-align:center;
}
.list {
  margin-top:5em;
  text-align:left;
}
.list h2{
  font-size:18px;
   text-align:left;
}
.list ul {
  padding-left:0px;
}
.list li{
  list-style-type: none;
  background-image: url(../images/tick-blue.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 52px;
  line-height: 40px;
  margin-bottom: 40px;
  display:inline-block;
  width:24.5%;
  vertical-align:top;
}
.list .green li{ 
  background-image: url('../images/tick-green.svg'); 
}
.our-work {
  text-align:center;
  margin-top:2em;
}
.our-work .featured{
  text-align:left;
}
.our-work p{
  margin-top:15px;
  font-size: 18px;
}
.slider .headshot {
  width:62px;
  display:inline-block;
  margin-left:30px;
}
.package-link {
  border: 3px solid #293874;
  display: block;
}
.package-list .sub-heading{
  background:#293874; 
  text-transform:none;
  font-weight:500;
}
.package-list a{
  color:#fff;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
.package-list h3{
  padding:15px 30px;
  font-size:30px; 
}
.package-list p { 
  padding:15px 30px; 
}
.package-list .description {
  font-size:18px;
  font-weight:300;
  padding:15px 30px;
  line-height:24px;
}
.package-list .button {
  background:#212e69;
  display:inline-block;
  margin:5px 30px;
  padding:15px 50px;
  transition: all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition: all 0.3s;
}
.package-list .price {
  font-size:52px;
  font-weight:500;
  text-align:right;
}
.package-list .price span {
  font-size:16px;
}
.package-list  span.tag {
  font-size:32px;

}
.package-link:hover {
  border: 3px solid #1bc452;
  text-decoration:none;
}

.package-link:hover .button{
  background:#f0ab05;
}
.package-link:hover .sub-heading{
  background:#1bc452;
  color:#212e69;
}
.packages h4 {
  text-align:right;
  margin-top:40px;
}

.packages h4 a{
  color:#fff;
}
.faqs {
  border-bottom: solid #091140 1px;
  padding:70px 0px;
}
.faqs.no-border {
  border-bottom: none; 
}
.faqs p{
  font-weight:300;
}



/*footer section*/
.navigation-footer ul {
  padding-left:0px;
}
.navigation-footer li {
  list-style-type:none;
  margin-bottom:20px;
}
.navigation-footer li a{
  color:#fff;
  font-size:17px; 
}

.navigation-footer li a.line:before { 
  margin-top: 21px;
  height: 6px;
  margin-left: -2px;
}

.navigation-footer li a.line:hover:before {
  width: 60px; 
}
footer {
  margin-top:3em;
  background:#1e2a60;
  padding:30px 0px 24px;
}
footer p {
  font-size:10px;
  margin-bottom:0px;
}
footer a {
  color:#fff;
  text-decoration:none;
}