/* Slider */
.slider {
    background-image: url('../images/i.svg');
    background-position: center right;
    background-repeat:no-repeat;
    padding-top:120px;
    padding-bottom:2em;
}
.slick-slider
{
    position: relative; 
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    padding: 0px!important;
    position: relative; 
    display: block;
    overflow: hidden; 
    margin: 0;
    padding: 0;
    text-align:right;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left; 
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
    /* /padding-right: 15%; */
    outline:none;
}
.slick-initialized .slider-wrapper
{ 
    padding-right: 14%;  
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block; 
    height: auto; 
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots {
    position: absolute;
    top: 50%;
}
.slick-dots li{
    list-style-type:None; 
    display:inline-block;
}
.slick-dots li button{
    background:#293874;
    border:None;  
    text-indent:-99999px;
    width:10px;
    height:10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px; 
    margin:5px;
    padding: 0px;
    outline:none;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.slick-dots .slick-active button,
.slick-dots li button:hover{
    background:#ffffff; 
}
.slider p {
    font-size:18px;
}